*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.navbar{
  width: 100%;
  padding: 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 160px;
  margin-top: -10px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 20px;
}
.navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  padding: 15px;
  font-family: gothic medium;
}
li a:hover{
  background: white;
  transition: 0.6s;
}
.navbar a:hover{
  color: rgb(0, 0, 0);
}
header{
  width:100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  box-shadow: 0 0 10px #000;
  background-color: rgb(91, 91, 91);
}
#chk1{
  display: none;


}
header .search-box{
  flex: 1;
  position: relative;
}
.search-box input{
  width:100%;
  height: 40px;
  border: none;
  outline: none;
  background:#f2f2f2;
  border-radius: 30px;
  color:gray;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 40px;
  text-align: center;

}
.search-box button{
  cursor: pointer;
  width:40px;
  height: 40px;
  border-radius: 30px;
  border:none;
  position: absolute;
  top:0;
  right: 0;
  transform: scale(0.9);
  background: rgb(91, 91, 91);
  color: #fff;
}
header .menu{
  font-size: 2.5em;
  display: none;
}
@media(max-width:1000px){
  .search-box button{
      position: absolute;
  }
  header ul{
      position: fixed;
      top:100px;
      right: -100%;
      background: rgba(0,0,0,0.5);
      height: calc(100vh - 100px);
      width:50%;
      flex-direction: column;
      align-items: center;
      transition: right 0.5s linear;
  }

  header .menu{
      display: block;
      width:100px;
      text-align: center;
  }
  #chk1:checked ~ ul{
      right: 0;

  }

}
section {
  padding: 9em 2em;
  text-align: center;
}

.box {
  display: inline-block;
  width: 200px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

